*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* a{
    color: white;
    text-decoration: none;
} */



body{
    height: 3000px;
}


.side-bar{
    position: sticky;
    top: 20px;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 10px ;
    filter: drop-shadow(10px 15px 15px #3d393c);  
    margin-bottom: 2rem;
    text-align: center;
    
}

.side-bar a{
    font-weight: 500;
    text-decoration: none;
    line-height: 16px;
    font-size: 11px;
    color: #3d393c;
}


.side-bar2{
    top: 50px;
    
    color: black;
}

.side-bar3{
    top: 80px;
    
}


.flip-card-back{
    display: none;
    
}

.side-bar:hover .flip-card-back{
    display: block;
}

.side-bar:hover{
    z-index: 9999;
}

.side-bar a:hover{
    text-decoration: underline;
}

.side-bar:nth-child(even) a{
    color: black;
}

.side-bar:nth-child(even) a:hover{
    text-decoration: underline;
}






.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 0px;
} 


 





 .card-title{
    justify-content: space-between;
}
.join{
    border-radius: 15px;
    border: none;
    color: rgb(248, 241, 241);
    padding: 9px;
}
.card{
    margin-bottom: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.buttons:hover{
    background-color: rgb(177, 170, 170);
}
.bi-caret-up:hover{
    color: red;
}
.bi-caret-down:hover{
    color: blue;
}


.pop-up {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #938c8c;
    padding: 10px;
    z-index: 9999;
    border-radius: 15px;
}
.hesap:hover + .pop-up{
    display: block;
}
.dropdown-toggle::after{
    display: none;
} 
 img{
    height: auto;
}
.dikcizgi{
    border: none;
    border-left: 1px solid black;
    height: 3rem;
    width: 1px;
}
.right{
    position: relative;
}
.time{
    position: absolute;
    top: 20px;
    left: 38px;
} 


/* 
detay sayfası
 */

.emoji{
    position: absolute;
    top: 450px;
    left: 50px;
    width:250px;
}
.d-buton:hover{
    background-color: #938c8c;
}
.duzenleme-left{
    width: 40rem;
   display: flex;
    justify-content: end;
}
.duzenleme{
    background-color: #ddd8d8;
    
}








=======
@media screen and (max-width: 1040px) {
   .side-bar{
    display: none;
   }
  }
  @media screen and (max-width: 650px) {
    .right , .right h6{
        font-size:.8rem;
    }
    main .col-10,.col-lg-8{
        padding: 0;
    }
    .col-lg-8 .container{
        padding-right: 3px;
    }
 }





  /* erdem */

.containe{
    height: 600px;
    width: 300px;
    margin: auto;
}
.containe .preOr{
    display: grid;
    grid-row: 2;
}
.containe .preOr .text1{
    font-size: 12.5px;
    width: 300px;
}
.containe .preOr .top{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}
/* .container .preOr .continueWith{
    height: 50px;
} */
.containe .preOr .continueWith .buttons{
    margin: 10px;
    height: 40px;
    width: 250px;
    border: 0.1mm gray solid;
    border-radius: 25px;
    color: gray;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 10fr;
    place-items: center;
}
.containe .preOr .continueWith .buttons:hover{
    background-color: black;
    fill: white;
    color: white;
}
.containe .or{
    margin-top: 30px;
    text-align: center;
    color: darkgray;
}
h3{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid rgb(180, 178, 178); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}
h3 span { 
    background:#fff; 
    padding:0 20px; 
}

.containe .postOr .inputs{
    height: 45px;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 0.5mm gray solid;
    background-color: whitesmoke;
    padding: 20px;
}


.containe .postOr .loginbutton{
    height: 45px;
    width: 300px;
    border-radius: 25px;
    background-color: orangered;
    border-style: none;
    color: white;
    font-size: 17.5px;
    margin-top: 15px;
}
.containe .postOr .loginbutton:hover{
    cursor: pointer;
    opacity: 0.9;
}
h5{
    color: black;
    margin-top: 15px;
}

.postOr h6{
    font-size: .8rem;
}

svg{
    width: 16px;
}
.apmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.apmodal .modal-contentt {
  background-color: #fefefe;
  margin: 7.5px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  
  border-radius: 25px;
}

/* The Close Button */
.apmodal .modal-contentt .closed {
  color: #aaa;
  font-size: 28px;
  float: right;
  font-weight: bold;
}

.closed:hover,
.closed:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: gray;
  padding: 16px;
  font-size: 19px;
  border: none;
  margin-top: 0.4rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {cursor: pointer;}

#myBtn{
  width: 125px;
  height: 40px;
  border-radius: 20px;
  background-color: orangered;
  color: white;
  border: hidden;
  font-size: large;
  margin-right: 30px;
}
#myBtn:hover{
  cursor: pointer;
}



/*berdan*/

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

  }

  nav .arama {
    margin: 0;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 25px;
    background-color: #F6F7F8;
    opacity: 1;

  }


  nav ul li {
    display: inline;
    list-style: none;
    margin: 20px;

  }

  nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;

  }

  nav ul li a:hover {
    background-color: #FFFFFF;
    color: #333;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #FFFF;
  }

  .right li {
    margin: 0;
  }

  nav img {
    width: 90px;
    height: 48px;
  }

  .search {
    border: none;
    border-radius: 15px;
    height: 100%;
    width: 40rem;
    background-color: transparent;



  }

  input.search {
    outline: none;
  }

  nav div:hover {
    background-color: #FFFFFF;

  }

  .sol {
    background-color: #c5c5c5;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 23px;
    padding-right: 23px;

  }

  .sag {
    border: 1px solid black;
    background-color: rgb(255, 94, 0);
    border-radius: 15px;
    padding-left: 23px;
    padding-right: 23px;

  }

  .sag:hover {
    background-color: rgb(255, 123, 0);
  }

  .right {
    display: flex;
    align-items: center;

  }

  .right li {
    margin-inline: 10px;
  }

