
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


  body {
    font-family: 'Lato', sans-serif;
    --bs-gutter-x: 0;
  }

 ul li{
    list-style: none;
  }
  
  /* berrdo*/



  .navUst{
    /* background-color: white; */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    z-index: 997;
    width: 100%;
}

.navUst .arama{
    padding-left: 5px;
    display:flex ;
    align-items: center;
    border: 1px solid grey;
    border-radius: 25px;
    background-color: #F6F7F8;
    opacity: 1;
    height: 35px;
}


.navUst ul li{
    display: inline;
    list-style: none;
    margin: 0px;
    
}
.navUst ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: .5s;
}
.navUst ul li a:hover{
    background-color: #FFFFFF;
    color: #333;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #FFFF;
}
.right1 li{
    margin: 0;
}

.navUst img{
    width: 90px;
    height: 48px;
}
.search{
    border: none;
    border-radius: 15px;
    background-color:transparent;
}
input.search{
    outline: none;
}
.navUst div:hover{
  background-color: #FFFFFF;
    
} 
.sol{
    background-color: #c5c5c5;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 23px;
    padding-right: 23px;
    
}
.sag{
    border: 1px solid black;
    background-color: rgb(255, 94, 0);
    border-radius: 15px;
    padding-left: 23px;
    padding-right: 23px;
    
}
.sag:hover{
    background-color: rgb(255, 123, 0);
}
.right{
 display: flex;
}

.right img {
    width: 30px;
    height: 30px;
    transform: translateY(-5px);
}

.right  h6{
  margin-bottom: 0;
  color: orangered;
  font-size: .9rem;
  margin-right: .7rem;
  position: relative;
}

.right  .h6::after{
  content: "";
  position: absolute;
  bottom: 7px;
  right: -7px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #000000;
}

.right small{
  font-size: .7rem;
  margin-right: 6px;
}

.hesap1{
  transform: translateY(-5px);
}

.right .hesap1 a{
  font-size: .7rem;
  margin-right: 6px;
  color: orange;
}

.right1 li {
    margin-inline: 10px;

}

.container .preOr{
  display: grid;
  grid-row: 2;
}
.container .preOr .text1{
  font-size: 12.5px;
  width: 300px;
}
.container .preOr .top{
  padding-top: 20px;
  padding-bottom: 10px;
}
/* .container .preOr .continueWith{
  height: 50px;
} */
.container .preOr .continueWith .buttons{
  margin: 10px;
  height: 40px;
  width: 250px;
  border: 0.1mm gray solid;
  border-radius: 25px;
  color: gray;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 10fr;
  place-items: center;
}
.container .preOr .continueWith .buttons:hover{
  background-color: black;
  fill: white;
  color: white;
}
.container .or{
  text-align: center;
  color: darkgray;
}
h3{
 width: 100%; 
 text-align: center; 
 border-bottom: 1px solid rgb(180, 178, 178); 
 line-height: 0.1em;
 margin: 10px 0 20px; 
}
h3 span { 
  background:#fff; 
  padding:0 20px; 
}

.container .postOr .inputs{
  height: 45px;
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 25px;
  border: 0.5mm gray solid;
  background-color: whitesmoke;
  padding: 20px;
}


.container .postOr .loginbutton{
  height: 45px;
  width: 300px;
  border-radius: 25px;
  background-color: orangered;
  border-style: none;
  color: white;
  font-size: 17.5px;
margin-top: 15px;
}
.container .postOr .loginbutton:hover{
  cursor: pointer;
  opacity: 0.9;
}
h5{
  color: black;
  margin-top: 15px;
}
svg{
  width: 16px;
}
.modal1 {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal1 .modal-content1 {
background-color: #fefefe;
margin: 7.5px auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 400px;
height: 585px;
border-radius: 25px;
}



/* The Close Button */
.modal1 .modal-content1 .close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
background-color: white;
color: rgb(33, 32, 32);
padding: 16px;
font-size: 19px;
border: none;
margin-top: 0.4rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
right: 0;
}

/* Links inside the dropdown */
.dropdown-content1 a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content1 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn {cursor: pointer;}

#myBtn{
width: 125px;
height: 40px;
border-radius: 20px;
background-color: orangered;
color: white;
border: hidden;
font-size: large;
margin-right: 10px;
}
#myBtn:hover{
cursor: pointer;
}
.x{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;  
}



.logo .mobile-logo{
  display: none;
} 


.navbar-dropdown{
  display: none;
}
@media screen and (max-width: 1200px){
  .kuayarlar{
    position: relative;
    right: 100px;
  }
}

@media screen and  (max-width: 1040px) {
  .search{
    width: 50%;
    } 
}





@media screen and (max-width:1000px){



}
@media screen and (max-width:992px) {
  .kubegeniyancard{
    display: none;
  }
  .kubegeni8card{
    width: 100%;
  }

}
@media screen and (max-width:865px) {
.search {
  width: 50%;
}
.right1{
  display: none;
}
}
@media screen and (max-width:600px) {
#myBtn{
  display: none;
}
.logo img{
  display: none;
}
.logo .mobile-logo{
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
}
 /* berdo erdem*/


  /* <!-- ********** Navbar BaÅŸlangÄ±Ã§ ************* -->
  
  /* Style the navigation bar */
  /* kevser*/
  .navbar {
    width: 100%;
    background-color: white;
    overflow: auto;
    position: relative;
    max-height: 500px; 
    overflow-y: auto;
  }


  
  .fixed {
    position: fixed;
    top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  }

  .navbarBaslik {
    font-size: 10px;
    color: #8a8888;
  }
  
  /* Navbar links */
  .navbar_icon {
    /* float: left; */
    text-align: center;
    color: #8a8888;
    text-decoration: none;
    font-size: 16px;
    transition: 1s;
    
  }

  .navbar a {
    text-align: center;
    color: #8a8888;
    text-decoration: none;
    font-size: 14px;
    transition: 1s;
    
  }
  
  .navbar>ul>li {
    padding: 5px;
    padding-top: 0;
    margin-left: 8px;
    color: #5e5873;
  
  }
  
  
  .custom-tooltip {
    --bs-tooltip-bg: #2871b8;
  }
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
  
    }
  }

  .yüzdeyüz{
    width: 100%;
  }
 
 
 
  .dropdown-menu {
    --bs-dropdown-border-color: none;
    position: relative;
    max-height: 200px; 
    overflow-y: auto;
  }


   .dropdown ul li a {
    text-align: initial;
    
  }
  
  .navbar_alt_p {
    padding: 4px;
    margin-left: 8px;
    font-size: 14px;
  }

  .navbar_alt_button {
    padding: 6px;
    margin-left: 8px;
  }

  .btn-kirmizi {
    width: 175px;
    border-radius: 9999px;
    background-color: #ff4500;
    color: white;
  }

  .btn-kirmizi:hover {
    background-color: #ff7746;
    color: #fafdff;
  }

  .navbar_alt_button_button1 { 
    border-radius: 20px;
    padding: 1px;
    margin-bottom: 2px;
    border: 1px solid rgb(189, 186, 186);
    display: flex;
    justify-content: center;
    width: 350px;
  }

  .navbar_alt_button_button2{
    font-size: 14px; 
  }


  .modal-body {
    width: 400px;
    margin-left: 60px;
  }

  .navbar_alt_formcontrol {
    width: 350px;
    border-radius: 20px;
    
  }

  .form-control:focus {
   box-shadow: none;
   border-color: #ff4500;
  }
  
  .btn-kirmizi2 {
    width: 350px;
    border-radius: 9999px;
    background-color: #ff4500;
    color: white;
    margin-top: 10px;
  }

  .modal-content{
    width: 500px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


  .navbar_alt {
    height: 200px;
  }

  .navbar_alt_button_button1:hover {
    background-color: #fafdff;
    border-color: #2871b8;
  }

  .block1{
    display: block !important;
  }

  

  
  /* <!-- ********** Navbar Başlangıç ************* -->
  
  /* Style the navigation bar */



/* a{
    color: white;
    text-decoration: none;
} */

/*kevser*/

/*erdi*/
.side-bar{
    position: sticky;
    top: 100px;
    background-color: white;
    border-radius: 15px;
    padding: 10px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
    font-style: italic;
}

body.dark-mode .side-bar{
  background-color: #222;
}

.side-bar a{
    font-weight: 500;
    text-decoration: none;
    line-height: 16px;
    font-size: 11px;
    color: #3d393c;
}


.side-bar2{
    top: 135px;
    /* color: black; */
    margin-top: .8rem;
}

.side-bar3{
    top: 170px;
    margin-top: .8rem;
}


.flip-card-back{
    display: none;
    
}

.side-bar:hover .flip-card-back{
    display: block;
}

.side-bar:hover{
    z-index: 9999;
}

.side-bar a:hover{
    text-decoration: underline;
}


.side-bar{
  border: 1px solid #bdb9b7;
}

.side-bar:nth-child(even) a{
    color: black;
}

.side-bar:nth-child(even) a:hover{
    text-decoration: underline;
}


.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 0px;
} 

.first-article{
  margin-left: 19rem;
  width: 70%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

.first-article a {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.first-article a article {
  padding: 1rem;
  margin-top: 5rem;
  background: linear-gradient(transparent, #121212);
 
}
.first-article a article h2 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 22px;
 }
 .first-article a article  .article-paragraf {
  font-size: .8rem;
  overflow: hidden;
 }


.first-article a:nth-child(1){
  background-image: url(/static/img/sheran.webp) ;
}


.first-article a:nth-child(2){
  background-image: url(https://external-preview.redd.it/X6TV1mlBrmTbEfY-eXPSNJELAY0yP_ZaQXZ5_sUSpuQ.jpg?auto=webp&v=enabled&s=896a01c5139e3dce74fa476c4028bf89e60a9727);
}
.first-article a:nth-child(3){
  background-image: url(https://external-preview.redd.it/RksrGikz3NI3Z52vGSviB5C3LDjiFZj4JHNnyLkXPj4.jpg?auto=webp&v=enabled&s=c73d0b9bdc0e64f6e9311cf4e07c401c0da6fb73);
}

.first-article a:nth-child(4){
  background-image: url(https://external-preview.redd.it/PeICPXzjYC0ciC9XxKwrnNK31b9HDm0G7eck0tpK6H0.jpg?auto=webp&v=enabled&s=16f2c2f7c744fcbe53cf95b0322285046d82bdb6);
}

.card-title{
    justify-content: space-between;
}
.join{
    border-radius: 15px;
    border: none;
    color: rgb(248, 241, 241);
    padding: 9px;
}
.card{
    margin-bottom: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   --bs-card-bg: none; 
    
}
.buttons:hover{
    background-color: rgb(177, 170, 170);
}

.fa-heart , .fa-heart-crack{
  transition: .5s;
}

.fa-heart:hover{
    color: red;
}
.fa-heart-crack:hover{
    color: #751313;
}



.pop-up {
    display: none;
    position: absolute;
    background-color: #938c8c;
    padding: 10px;
    z-index: 9999;
    border-radius: 15px;
    width: 20rem;
}

.hesap1:hover  .pop-up{
  display: block;
}
.hesap:hover  .pop-up{
    display: block;
}
.dropdown-toggle::after{
    display: none;
} 
 img{
    height: auto;
}
.dikcizgi{
    border: none;
    border-left: 1px solid black;
    height: 3rem;
    width: 1px;
}



.post-img img{
  width: 100%;
  height: 500px;
}

/* 
detay sayfası
 */

.emoji{
    position: absolute;
    top: 450px;
    left: 50px;
    width:250px;
}
.d-buton:hover{
    background-color: #938c8c;
}
.duzenleme-left{
    width: 40rem;
    display: flex;
    justify-content: end;
}
.duzenleme{
    background-color: #ddd8d8;
    
}

.hepsi{
  z-index: 9999999;
}


/*profil-navbar*/


.profil-navbar{
  margin-top: 5rem;
 
  margin-right: 3rem;
  
}

.profil-navbar ul{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  text-align: center;
}

.profil-navbar ul li  {
  text-align: center;
  position: relative;
}
.profil-navbar ul li::before  {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 30px;
  transition: all 0.4s ease-in-out; 
  background-color: #007bff;
}
.profil-navbar ul i {
  cursor: pointer;
}

.profil-navbar ul li a {
  word-break:break-all;
  font-size:.8rem ;
  color: #808182 ;
  text-decoration: none;
  transition: .5s;
  padding-bottom: 1rem;

}

.profil-navbar ul li a:hover {
  color: #007bff;
}

.profil-navbar li:hover::before {
  width: 100%;
}

.last-cocuk  {
  display: none;
}
.last-cocuk-list{
  display: flex;
  flex-direction: column;
  position: relative; 
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  visibility: hidden;
}

.last-cocuk-list a{
  color: #808182 ;
  
}

.last-cocuk-list a:hover{
  color: #007bff ;
}

.last-cocuk11:hover .last-cocuk-list{
  visibility: visible;
}



.last-cocuk-list1,.last-cocuk-list2,.last-cocuk-list3,.last-cocuk-list4,.last-cocuk-list5,.last-cocuk-list6,.last-cocuk-list7,.last-cocuk-list8,.last-cocuk-list9,.last-cocuk-list10{
  display: none;
  font-size: .7rem;
  margin-top: 5px;
}

@media screen and (max-width: 1340px) {
  
  .profil-navbar ul .on,.dokuz {
    display: none;  
  }
  .last-cocuk  {
    display: block;
  }

  .last-cocuk11:hover .last-cocuk-list10{
    display: block;
  }
  .last-cocuk11:hover .last-cocuk-list9{
    display: block;
  }

 }




 @media screen and (max-width: 1250px) {
  
  .profil-navbar ul .sekiz,.yedi,.altı {
    display: none;  
  }

  .last-cocuk11:hover .last-cocuk-list8{
    display: block;
  }

  .last-cocuk11:hover .last-cocuk-list6{
    display: block;
  }

  .last-cocuk11:hover .last-cocuk-list7{
    display: block;
  }

  .profil-navbar ul{
    grid-template-columns: repeat(6,1fr);
  }
  
 }




 @media screen and (max-width: 850px) {
  
  .profil-navbar ul .beş,.dört,.üç {
    display: none;  
  }


  .last-cocuk11:hover .last-cocuk-list5{
    display: block;
  }

  .last-cocuk11:hover .last-cocuk-list4{
    display: block;
  }

  .last-cocuk11:hover .last-cocuk-list3{
    display: block;
  }
  .last-cocuk-list1,.last-cocuk-list2,.last-cocuk-list3,.last-cocuk-list4,.last-cocuk-list5,.last-cocuk-list6,.last-cocuk-list7,.last-cocuk-list8,.last-cocuk-list9,.last-cocuk-list10{

    font-size: .6rem;
  
  }
  .profil-navbar ul{
    grid-template-columns: repeat(3,1fr);
  }
  .profil-navbar{
    margin-left: 0;
  }
  
 }
/*profil-navbar*/









@media screen and (max-width: 1270px) {
  .grid{
    grid-template-columns: auto auto ;
    gap: 5px 0px;
} 
 }

@media screen and (max-width: 1035px) {
  .btn-group .buttons{
    font-size: 12px;
  }
  .card-text{
    font-size: 13px;
  }
  .col-md-9{
    width: 100%;
  }
  .col-md-4{
    display: none;
   }
   .hepsi1{
    display: none;
   }
   .hepsi1{
    z-index: 999999;
  }
   .navbar-dropdown{
    display: block;
  }
  .col-md-3.md-12{
    display: none;
  }
  .first-article{
    width: 90%;
    margin-left:2rem;
  }

  .navbar>ul>li {
    padding: 0;
  
  }
  .navbarHr {
    display: none;
  }

  .fixed {
    border-radius: 20px;
    top: 60px;
    left: 80px;
  
  }
  .navbar{
    border-radius: 20px;
  }
  .navbar a {
   text-align: left; 
    
}

  main .col-10,.col-lg-8{
    padding: 0;
  }
  .col-lg-8 .container{
    padding-right: 3px;
  }
  }

  @media screen and (max-width: 900px) {
    .first-article a:nth-child(4){
      display: none;
    }
    .first-article{
      grid-template-columns: repeat(3,1fr);
    }
 }

  @media screen and (max-width: 650px) {
    main .col-10,.col-lg-8{
        padding: 0;
    }
    .col-lg-8 .container{
        padding-right: 3px;
    }
    .kufirstyorum{
      
      height: 100px;
      width: 40rem;
    }
    .first-article a:nth-child(3){
      display: none;
    }
    .first-article{
      grid-template-columns: repeat(2,1fr);
    }
 }


 #ica{
  text-decoration: none;
  color: #808182;
  transition:0.5s;
  position: fixed;
  right: 0;
  bottom: 20px;
  display: none;
}
#ica:hover{
  color: rgb(2, 0, 0);
}

#ic{
  font-size: 2.5rem;
}

/* detay sayfası kübra*/
 
.kuzil{
  overflow: hidden;
}
.emoji{
    position: absolute;
    top: 53rem;
    left: 50px;
    width:250px;
}
.d-buton:hover{
    background-color: #938c8c;
}
.duzenleme-left{
  
    width: 26rem;
    display: flex;
    justify-content: end;
}
.duzenleme{
  
    background-color: #eae3e3;
    border-radius: 0 0 5px 5px;
    
}
#myBtn1 {
  position: fixed;
  bottom: 20px;
  right: 0px;
  margin-right:150px;
  border: rgb(122, 118, 118) solid ;
  padding: 5px;
  
}

.kufirstyorum{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px 5px 0px 0px;
  height: 150px;
  width: 40rem;
}
.kualtyorum{
  border-radius: 5px 5px 0px 0px;
}

.write-comments{
  display: none;
}




/* DETAYYYYYYYYYYYYYYYY */





/* İçerik Kısmı */
.icerikBanner > img {
  width: 100%;
  height: 190px;
}

 
.row-detay {
--bs-gutter-x: 0;
} 



.icerikProfil{
  margin-left: 0px;
  display: flex;
}
.icerikProfilİmg{
  width: 100px;
  border-radius: 50%;
  border: 6px solid white;
  position: relative;
  bottom: 20px;
}
.icerikProfilButton{
  height: 30px;
  width: 100px;
  border-radius: 30px;
  background-color: #333;
  color: #e4dee3;
  
}
.icerikProfilButtonYazi {
  margin-top: -4px;
}


.icerikNav {
  margin-left: 0px;
}
.icerikNav > a{
  text-decoration: none;
  color: #726e71;
  margin: 4px;
}

.icerikNav > a:hover {
  color: #888;
}
.icerikNavA {
  border-bottom: 2px solid black;
}
.icerikIcon {
  width: 100%;
  margin-left: 3rem;
  margin-top: 30px;
  border: 1px solid #726e71;
  padding: 10px;
  border-radius: 10px;
}

.icerikIconSol  > .icerikIconA > a {
  text-decoration: none;
  color: #726e71;
  margin: 4px;
  margin-right: 2rem;
}

.icerikIconA1 {
  background-color: #f8f5f5;
  border-radius: 20px;
}

.icerikIconA:hover {
  background-color: #f8f5f5;
  border-radius: 20px;
  margin-bottom: 20px;  
}


.icerikIcondropdown1:hover {
  background-color: #f8f5f5;
  border-radius: 20px;
  

}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  border-color: white;
}

.icerikIcondropdown1Menu  {
  background-color: #fafdff;
  border-color: rgb(85, 84, 84);
}
.icerikIcondropdown1Menu :hover {
  background-color: #f8f5f5;
  border-radius: 20px;
  
}

.icerikIconSag:hover {
  background-color: #f8f5f5;
  border-radius: 20px;
  
}

.icerikpaylasim {
  width: 100%;
  margin-left: 3rem;
  margin-top: 30px;
  
}

.icerikSagKisim {
  width: 300px;
  margin-left: 8rem;
  margin-top: 30px;
}

.icerikSagKisimCardHeader {
  background-color: #0dd3bb;
  font-size: 15px;
}
.icerikSagKisimCardButton >a {
  background-color: #373c3f;
  border-radius: 10px;
  font-size: 10px;
  color: white;
  margin-top: 10px;
}
.icerikSagKisimFooter {
  font-size: 10px;
  margin-bottom: 0;
  
}
.icerikSagKisimCardAltButton :hover {
  background-color: #e8eaec;
  border-radius: 10px;
}


/* İçerik Kısmı */


/*kübra begeni*/
.kucard-body{
  position: relative;

}
.kuekleme{
  position: absolute;
  right: 10px;
  top: -45px;
  
}
.kuproresmi{
  position: absolute;
  top: -60px;
  left: 10px;
}
.kuhesap{
  position: absolute;
  bottom: -45px;
  left: 18px;
}
.kuekleme2{
  position: absolute;
  left: 50px;
  bottom: 5px;

}
.kuayarlar{
  position: absolute;
  left: 60px;
  bottom: -45px;
}

.kudetayayon{
  background-color: transparent;
}

.kudetayayon:hover{
  background-color: #c6bcc4;
  
}
.kubegenidropdown-menu{
  position: relative;
  right: 5px;
  display: none;
}
.createavatar{
  background: linear-gradient(to right , rgb(245, 67, 2) , rgb(233, 152, 95));
  margin-top: 7rem;
}
.kubeghesap:hover  .pop-up{
  display: block;
}
.kubegeniyancard{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.pop-up img{
  width: 50px;
}
/*kübra begeni*/

.icerikSagKisimCard3{
  font-size: 13px;
}

.saved *{
  font-size: 12px;
}

.icerikSagKisimCardAccordion:focus,
.icerikSagKisimCardAccordion:hover {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.icerikSagKisimCard4İmg {
  width: 40px;
  border-radius: 50%;
}
.icerikSagKisimCard4Yazi {
  font-size: 10px;
}

.icerikSagKisimCard4Button {
  background-color: #373c3f;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  font-size: 13px;
  width: 100%;
}

.icerikSagKisimCard6 {
  font-size: 13px;
}

.icerikSagKisimCard5İmg {
  width: 100%;
}


@media screen and (max-width: 950px) {
  .icerikSagKisim {
    display: none;
  }
  .icerikBanner {
    width: 100%;
  }
  .icerikIcon {
    width: 100%;
  }
  .icerikpaylasim {
    width: 100%;
  }
  .icerikProfil {
    margin-left: 0px;
  }
  .icerikNav {
    margin-left: 0px;
  }
  .icerikProfilUl {
    flex-direction: column;
    margin-left: 0;
  }
  
  
}

.icerikProfilUl li:nth-child(n+1){
  align-self: center  ;
}

.icerikSagKisimCardButton3 > a {
font-size: 8px;
}

@media screen and (min-width: 1000px) {
  .icerikSagKisimCardButton2 {
    display: none;
    
  }
  .icerikProfilUl {
    margin-left: 80px;
  }
}
  

@media screen and (max-width: 1000px) {
  .icerikBanner > img{
    width: 100%;
    height: 150px;
  }
  .icerikBanner {
    justify-content: center;
  }
  .icerikProfil {
    
    width: 200px;
    display: block;
    padding: 0;
    text-align: center;
    
    
  }
  .icerikProfilİmg {
    width: 150px;
    bottom: 40px;
    text-align: center;
  }
  .icerikProfilP {
    font-size: 40px;
    margin-top: -50px;
    text-align: center;

  }

  .icerikProfilP2 {
    font-size: 20px;
    margin-top: -20px;
    text-align: center;
    color: #bfbfbf;
  }
  .icerikpaylasim, .icerikIcon  {
    margin-left: 0;
  }
  .icerikProfilButtonLi, .icerikProfilButton {
    width: 100%;
  }
 
}
 



/* İçerik Kısmı */


/* İçerik Kısmı */


/* kubra Ayarlarrrrrrr */

.kurow{
  display: flex;
  justify-content: space-between;
}


/* kubra Ayarlarrrrrrr */

/* CSS kodu */

/* DARKMODE */
body {
  /* varsayılan arka plan rengi */
  background-color: #f8f8f8;
}

body.dark-mode {
  /* dark mode arka plan rengi */
  background-color: #222;
  color: #fff;
}

body.dark-mode .navbar{
  background-color: #222;
}

body.dark-mode .card-body {
  color: white;
  border-radius: 20px;
}
body.dark-mode i {
  color: white;
}
body.dark-mode .card-title small {
   color: white;
}
body.dark-mode .btn-group .buttons{
  color: white;
}
body.dark-mode .flip-card-back .grid a{
  color: white;
}
body.dark-mode .dropdown2:hover{
  background-color: #575353;
}

body.dark-mode .dropdown2 .dropbtn:hover{
  background-color: #575353;
}
body.dark-mode .dropdown2 .dropdown-content1:hover{
  background-color: #575353;
}
body.dark-mode .dropdown2 .dropdown-content1 a{
  color: white;
  background-color: #575353;
}
body.dark-mode .navUst{
  background-color: #212122;
}
body.dark-mode .dropdown-content1 a:hover , body.dark-mode .icerikIcondropdown1:hover , body.dark-mode .icerikIconA:hover , body.dark-mode .icerikIconSag:hover , body.dark-mode .dropdown-menu li a:hover , body.dark-mode .icerikSagKisimCardAltButton:hover , body.dark-mode .dropdown-content1 .form-check:hover{
  background-color: #5e5873;
}
body.dark-mode .dropdown-menu li a i{
  color: black;
}
body.dark-mode .icerikSagKisimFooter .list-group{
  --bs-list-group-bg:none;
  --bs-list-group-color:none;
}
body.dark-mode .icerikSagKisimCardAltButton small , body.dark-mode h5 , body.dark-mode .kusol .btn , body.dark-mode .card .list-group h6 , body.dark-mode .card .list-group p , body.dark-mode .accordion-item b , body.dark-mode .accordion-button , body.dark-mode .accordion-body , body.dark-mode .kuyankisim .card-header , body.dark-mode .write-comment .btn{
  color: white;
}
body.dark-mode .ayarlarnav li a{
  color: rgb(146, 142, 142);
}
body.dark-mode .card .list-group li , body.dark-mode .kuyankisim .accordion-item , body.dark-mode .kucommunity{
  background-color: #212122 ;
}
body.dark-mode .accordion-header{
  --bs-accordion-btn-bg: none;
}
body.dark-mode .duzenleme i{
  color: #47484a;
}
body.dark-mode .card , body.dark-mode .kubegeniyancard{
  box-shadow: rgba(170, 170, 173, 0.25) 0px 13px 27px -5px, rgba(176, 172, 172, 0.3) 0px 8px 16px -8px;
}
body.dark-mode .kuproresmi button i , body.dark-mode .kucard-body button i{
  color: black;
}
body.dark-mode .kuayarlar a .bi-gear , body.dark-mode .girisyap, body.dark-mode form label , body.dark-mode .dropdown2 .kusolgi{
  color: white;
}
body.dark-mode .preOr h1 , body.dark-mode .preOr p{
  color:black;
}
body.dark-mode .kutopsol .baslik h4 , body.dark-mode .content i , body.dark-mode .kutopsol b{
  color: black;
}
body.dark-mode .navUst .dropdown2:hover , body.dark-mode .navUst .kugirislihesap:hover , body.dark-mode .navUst .kugirislihesap .kusolgi:hover , body.dark-mode .navUst .kugirislihesap .kusaggi:hover , body.dark-mode .navUst i:hover{
  background-color: #47484a;
} 
body.dark-mode .navUst  div:hover{
  background: none;
}
body .logo .mobile-logo1{
  display: none;
}
body.dark-mode .logo .mobile-logo{
  display: none;
}
body.dark-mode .logo .mobile-logo1{
  display: block;
}

/* DARKMODE */




/********** post **********/
.postNav {
  margin-top: 100px;
  border: 1px solid rgb(74, 74, 74);
}

.postNavButtons button {
  border-radius: 20px;
  height: 30px;
  font-size: 12px;
  margin-left: 8px;
 
}

.postNavDropdown {
  background-color: white;
  color: #989798;
}

.postNavLink {
  color: gray;
}

.postNavButtonsAlt button {
  height: 40px;
  font-size: 15px;
  margin-top: 20px;
}

.postNavButtons1 {
  color: #2871b8;
  border-color: #2871b8;
}

.postNavButtons2 {
  background-color: #333;
  color: #eae3e3;
}

.navPostSmall {
  color: #2871b8;
  
}

.dosyasec {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  border-style: dotted;
  margin-top: 10px;
}

.addoption {
  padding: 6px;
  font-size: 13px;
  margin-top: 10px;
  background-color: transparent;
  color: #2871b8;
  border: none;
}
.addoption:hover {
  background-color: #efefef;
  color: #2871b8;
}

.addbutton {
  padding: 6px;
  font-size: 13px;
  margin-top: 10px;
  background-color: transparent;
  color: #747272;
  border: none;
}
.addbutton:hover {
  background-color: white;
  color: #747272;
}

.optionkismiol {
  font-size: 13px;
}
/********** post **********/
/* toplulukkkkkkkk */
.kutular{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  }
.kutu{
  height: 300px;
  background-color: #e9eeed;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
}



.kutu .kutoplu-body .kutusag img{
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 10px;
}
.toplulukcont{
  width: 97%;
  margin: auto;
}

.kutopsol button{
  margin-left: 80px;
  padding:0 8px;
}

@media screen and (max-width: 1260px) {
  .kutular{

    grid-template-columns: repeat(2,1fr);
  }
    .toplulukcont{
      width: 80%;
      margin: auto;
  }
}
@media screen and (max-width: 989px) {
  .kutular{
    grid-template-columns: repeat(1,1fr);
    }
  .kutu{
    justify-self: center;
    width: 400px;
  }
}
@media screen and (max-width: 465px) {
  .kutular  *{
    font-size: 16px;
    }
    .kutopsol button{
      margin-left: 20px;
    }
    .kutu{
      width: 100%;
    }
}

@media screen and (max-width: 365px) {
    .kutopsol {
      margin-top:1rem;
    }
    .kutu .kutoplu-body .kutusag img{
     width: 85px !important;
    }
}

.kutu:nth-child(3n+1) {
  background-color: #fffdf6; /* Birinci satırdaki kutu rengi */
}

.kutu:nth-child(3n+2) {
  background-color: #faf6e9; /* İkinci satırdaki kutu rengi */
}

.kutu:nth-child(3n+3) {
  background-color: #ece8d9; /* Üçüncü satırdaki kutu rengi */
}
.kufooter{
  position: relative;
}

.boxproku img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
} 


.boxproku img:nth-child(1){
  right: 30px;
  top: 0;
} 
.boxproku img:nth-child(2){
  right: 25px;
  top: 0;
} 
.boxproku img:nth-child(3){
  right: 20px;
  top: 0;
} 
.boxproku img:nth-child(4){
  right: 15px;
  top: 0;
} 
.boxproku img:nth-child(5){
  right: 10px;
  top: 0;
}
  /* Toplulukkkkkkk */
  
/* .yonlendirme{
  cursor: pointer;
} */

.girisyap{
  border: none;
}

.none{
  display: none !important;
}