{% extends 'index.html' %}
{% load static %}

    {% block content %}
   <main>
        <div class="container">
            <div class="row ">
                <div class="col-md-8 postNav container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <button class="nav-link active postNavLink" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="bi bi-stickies"></i> Post</button>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="textarea" name="postcontent" value="{{postcontent}}" id="" placeholder="Content" class="w-100 mt-3" style="height: 100px;">
                            <input type="file" class="mt-4" name="postimg">
                            
                       

     
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            
                            <p > </p>
                            <div class="postNavButtons d-flex mt-4 ">
                                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-plus-lg"></i> OC</button>
                                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-plus-lg"></i> Spoiler</button>
                                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-plus-lg"></i> NSFW</button>
                                <div class="dropdown postNavButtons ">
                                    <button class="btn btn-secondary dropdown-toggle postNavDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-tags"></i> Flair <i class="bi bi-chevron-compact-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Flair</a></li>
                                    </ul>
                                  </div>
                            </div>

                            <div class="postNavButtonsAlt postNavButtons d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-secondary postNavButtons1 ">Save Draft</button>
                                <button type="submit" class="btn btn-outline-secondary postNavButtons2 ">Post</button>
                            </div>
                        </div>

                    </form>
                        
                    </div>
                    
                    

                    <hr>

                    <div class="navProfilSon">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"> 
                                <small>Send me post reply notifications</small> 
                            </label>
                          </div>
    
                          <small class="navPostSmall">Connect accounts to share your post <i class="bi bi-exclamation-circle"></i></small>
                          
                    </div>
                     
                </div>
            </div>
        </div>
        
    
   </main>
   {% endblock content %}


  