

    <nav class="profil-navbar container">
        <ul>
        <li class=""><a href="#">GENEL BAKIŞ</a></li>
        <li class=""><a href="">GÖNDERİLER</a></li>
        <li class="üç"><a href="">YORUMLAR</a></li>
        <li class="dört"><a href="">TARİH</a></li>
        <li class="beş"><a href="/kaydet/">KAYDEDİLENLER</a></li>
        <li class="altı"><a href="">GİZLENMİŞ</a></li>
        <li class="yedi"><a href="/begeni/">LİKE</a> </li>
        <li class="sekiz"><a href="">EKSİ OY</a> </li>
        <li class="dokuz"><a href="">ALINAN ÖDÜLLER</a> </li>
        <li class="on"><a href="">ÖDÜLLER VERİLDİ</a> </li> 
        <div class="position-relative last-cocuk11">
            <i class="bi bi-three-dots last-cocuk"></i> 
            <div class="position-absolute last-cocuk-list">
                <a class="last-cocuk-list1" href="">GENEL BAKIŞ</a>
                <a class="last-cocuk-list2" href="">GÖNDERİLER</a>
                <a class="last-cocuk-list3" href="">YORUMLAR</a>
                <a class="last-cocuk-list4" href="">TARİH</a>
                <a class="last-cocuk-list5" href="/kaydet/">KAYDEDİLENLER</a>
                <a class="last-cocuk-list6" href="">GİZLENMİŞ</a>
                <a class="last-cocuk-list7" href="/begeni/">LİKE</a> 
                <a class="last-cocuk-list8" href="">EKSİ OY</a> 
                <a class="last-cocuk-list9" href="">ALINAN ÖDÜLLER</a> 
                <a class="last-cocuk-list10" href="">ÖDÜLLER VERİLDİ</a>  
            </div>
        </div>
        

    </ul>
    
    </nav>

