{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>kaydettiklerim</title>
{% endblock title %}




{% block content %}
<section style="margin-top: 5rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="card mb-3" style="height: 170px;">
                    <div class="row ">
                        <div class="col-2">
                            <img src="img/wi9w6jz5r3xa1.webp" class="img-fluid  rounded-start ms-3 mt-3" alt="..."
                                style="width: 90px;">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <h5 class="card-title text-secondary">iste yazi gelicek buraya (Miting)</h5>
                                <div class="d-flex">
                                    <div class="kubeghesap">
                                        <a href="" class="text-decoration-none  ">
                                            <h6 style="font-size: small;" class="text-black ">r/AskReddit</h6>
                                        </a> <!-- POP UP !!!!!!!!!!!!! -->
                                        <div class="pop-up" style=" width: 17rem;">
                                            <div class="container">
                                                <div class="row">
                                                    <img src="img/smile-profil.png" style="width: 50px!important; "
                                                        alt="">
                                                    <a href="" class="text-decoration-none w-50 p-0">
                                                        <h6 class="">r/AskReddit</h6>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <div class="cizgi d-flex">
                                                        <div class="col-6">
                                                            <h6>40.7 m </h6>
                                                            <p>Members</p>
                                                        </div>
                                                        <hr class="dikcizgi">
                                                        <div class="col-6 ms-3">
                                                            <h6>71.4 k</h6>
                                                            <p>Online</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>r/AskReddit is the place to ask and answer thought-provoking
                                                        questions</p>
                                                </div>
                                                <button class="rounded-5 w-100">View Community</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary rounded-4 ms-2"
                                        style="height: 30px;">Join</button>
                                    <p class="text-secondary ms-2">Posted by</p>
                                    <div class="kubeghesap">
                                        <p class="ms-2"><a href="" class="text-secondary">hesap</a></p>
                                        <div class="pop-up" style=" width: 17rem;">
                                            <div class="container">
                                                <div class="row">
                                                    <img src="img/smile-profil.png" style="width: 50px!important; "
                                                        alt="">
                                                    <a href="" class="text-decoration-none w-50 p-0">
                                                        <h6 class="">r/AskReddit</h6>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <div class="cizgi d-flex">
                                                        <div class="col-6">
                                                            <h6>40.7 m </h6>
                                                            <p>Members</p>
                                                        </div>
                                                        <hr class="dikcizgi">
                                                        <div class="col-6 ms-3">
                                                            <h6>71.4 k</h6>
                                                            <p>Online</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>r/AskReddit is the place to ask and answer thought-provoking
                                                        questions</p>
                                                </div>
                                                <button class="rounded-5 w-100">View Community</button>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="card-text ms-2"><small class="text-secondary">3 mins
                                            ago</small></p>
                                </div>
                                <div class="btn-group saved" role="group"
                                    aria-label="Button group with nested dropdown">
                                    <button class="border-0 kudetayayon" style="background: none;"><i
                                            class="bi bi-card-text"></i></button>
                                    <div class="btn-group mt-3 ms-2" role="group"
                                        aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn buttons "><i class="bi bi-chat-square"></i>
                                            2.8k
                                            Comments</button>

                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn buttons dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-arrow-90deg-right"> Share</i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-link-45deg">
                                                            Copy
                                                            Link</i></a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-file-code-fill">
                                                            Embed</i></a></li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn border-0 buttons"><i class="bi bi-bookmark">
                                                Save</i></button>

                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn buttons dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                ...
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-eye-slash">
                                                            Hide</i></a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-flag">
                                                            Report</i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn" style=" border: none "> <i
                                                class="fa-solid fa-heart"></i></button>
                                        <p>1.2k</p>
                                        <button type=" button" class="btn" style=" border: none"> <i
                                                class="fa-solid fa-heart-crack"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card mb-3" style="height: 170px;">
                    <div class="row ">
                        <div class="col-2">
                            <img src="img/wi9w6jz5r3xa1.webp" class="img-fluid  rounded-start ms-3 mt-3" alt="..."
                                style="width: 90px;">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <h5 class="card-title text-secondary">iste yazi gelicek buraya (Miting)</h5>
                                <div class="d-flex">
                                    <div class="kubeghesap">
                                        <a href="" class="text-decoration-none  ">
                                            <h6 style="font-size: small;" class="text-black ">r/AskReddit</h6>
                                        </a> <!-- POP UP !!!!!!!!!!!!! -->
                                        <div class="pop-up" style=" width: 17rem;">
                                            <div class="container">
                                                <div class="row">
                                                    <img src="img/smile-profil.png" style="width: 50px!important; "
                                                        alt="">
                                                    <a href="" class="text-decoration-none w-50 p-0">
                                                        <h6 class="">r/AskReddit</h6>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <div class="cizgi d-flex">
                                                        <div class="col-6">
                                                            <h6>40.7 m </h6>
                                                            <p>Members</p>
                                                        </div>
                                                        <hr class="dikcizgi">
                                                        <div class="col-6 ms-3">
                                                            <h6>71.4 k</h6>
                                                            <p>Online</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>r/AskReddit is the place to ask and answer thought-provoking
                                                        questions</p>
                                                </div>
                                                <button class="rounded-5 w-100">View Community</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary rounded-4 ms-2"
                                        style="height: 30px;">Join</button>
                                    <p class="text-secondary ms-2">Posted by</p>
                                    <div class="kubeghesap">
                                        <p class="ms-2"><a href="" class="text-secondary">hesap</a></p>
                                        <div class="pop-up" style=" width: 17rem;">
                                            <div class="container">
                                                <div class="row">
                                                    <img src="img/smile-profil.png" style="width: 50px!important; "
                                                        alt="">
                                                    <a href="" class="text-decoration-none w-50 p-0">
                                                        <h6 class="">r/AskReddit</h6>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <div class="cizgi d-flex">
                                                        <div class="col-6">
                                                            <h6>40.7 m </h6>
                                                            <p>Members</p>
                                                        </div>
                                                        <hr class="dikcizgi">
                                                        <div class="col-6 ms-3">
                                                            <h6>71.4 k</h6>
                                                            <p>Online</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>r/AskReddit is the place to ask and answer thought-provoking
                                                        questions</p>
                                                </div>
                                                <button class="rounded-5 w-100">View Community</button>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="card-text ms-2"><small class="text-secondary">3 mins
                                            ago</small></p>
                                </div>
                                <div class="btn-group saved" role="group"
                                    aria-label="Button group with nested dropdown">
                                    <button class="border-0 kudetayayon" style="background: none;"><i
                                            class="bi bi-card-text"></i></button>
                                    <div class="btn-group mt-3 ms-2" role="group"
                                        aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn buttons "><i class="bi bi-chat-square"></i>
                                            2.8k
                                            Comments</button>

                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn buttons dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-arrow-90deg-right"> Share</i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-link-45deg">
                                                            Copy
                                                            Link</i></a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-file-code-fill">
                                                            Embed</i></a></li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn border-0 buttons"><i class="bi bi-bookmark">
                                                Save</i></button>

                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn buttons dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                ...
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-eye-slash">
                                                            Hide</i></a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-flag">
                                                            Report</i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn" style=" border: none "> <i
                                                class="fa-solid fa-heart"></i></button>
                                        <p>1.2k</p>
                                        <button type=" button" class="btn" style=" border: none"> <i
                                                class="fa-solid fa-heart-crack"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}