{% extends "index.html" %}
{% load static  %}

{% block title %}
<title>Topluluklar</title>
{% endblock title %}


{% block content %}
<section style="margin-top: 90px;" class="toplulukcont">
    <div class="kutular">
        <div class="kutu">
            <img src="https://i.pinimg.com/564x/d4/38/11/d43811e378d0a985e76d9d82cca017aa.jpg" style="width: 100%; height: 110px; border-radius: 20px 20px 0px 0px;" alt="">
           
            <div class="kutoplu-body d-flex justify-content-end me-4">
                <div class="kutusag ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="max-width: 100%; width: 100px; " alt="">
                </div>
                <div class="kutopsol" >
                    <div class="baslik d-flex mt-2">
                        <h4>R/AskReddit</h4>
                        <button class="rounded-5 border-0">Join</button>
                    </div>
                    <div class="content d-flex mt-2">
                        <i class="fa-solid fa-cake-candles mt-1"></i>
                        <p class="text-secondary ms-2">Created {time}</p>
                    </div>
                    <div class="d-flex">
                        <b>750k</b>
                        <p class="text-secondary ms-2">Members</p>
                    </div>
                    <div class="kufooter d-flex justify-content-end me-1">
                        <div class="boxproku mt-2">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt=""ß>
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
       
        <div class="kutu">
            <img src="https://i.pinimg.com/564x/d4/38/11/d43811e378d0a985e76d9d82cca017aa.jpg" style="width: 100%; height: 110px; border-radius: 20px 20px 0px 0px;" alt="">
           
            <div class="kutoplu-body d-flex justify-content-end me-4">
                <div class="kutusag ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="max-width: 100%; width: 100px; " alt="">
                </div>
                <div class="kutopsol" >
                    <div class="baslik d-flex mt-2">
                        <h4>R/AskReddit</h4>
                        <button class="rounded-5 border-0">Join</button>
                    </div>
                    <div class="content d-flex mt-2">
                        <i class="fa-solid fa-cake-candles mt-1"></i>
                        <p class="text-secondary ms-2">Created {time}</p>
                    </div>
                    <div class="d-flex">
                        <b>750k</b>
                        <p class="text-secondary ms-2">Members</p>
                    </div>
                    <div class="kufooter d-flex justify-content-end me-1">
                        <div class="boxproku mt-2">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt=""ß>
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="kutu">
            <img src="https://i.pinimg.com/564x/d4/38/11/d43811e378d0a985e76d9d82cca017aa.jpg" style="width: 100%; height: 110px; border-radius: 20px 20px 0px 0px;" alt="">
           
            <div class="kutoplu-body d-flex justify-content-end me-4">
                <div class="kutusag ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="max-width: 100%; width: 100px; " alt="">
                </div>
                <div class="kutopsol" >
                    <div class="baslik d-flex mt-2">
                        <h4>R/AskReddit</h4>
                        <button class="rounded-5 border-0">Join</button>
                    </div>
                    <div class="content d-flex mt-2">
                        <i class="fa-solid fa-cake-candles mt-1"></i>
                        <p class="text-secondary ms-2">Created {time}</p>
                    </div>
                    <div class="d-flex">
                        <b>750k</b>
                        <p class="text-secondary ms-2">Members</p>
                    </div>
                    <div class="kufooter d-flex justify-content-end me-1">
                        <div class="boxproku mt-2">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt=""ß>
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="kutu">
            <img src="https://i.pinimg.com/564x/d4/38/11/d43811e378d0a985e76d9d82cca017aa.jpg" style="width: 100%; height: 110px; border-radius: 20px 20px 0px 0px;" alt="">
           
            <div class="kutoplu-body d-flex justify-content-end me-4">
                <div class="kutusag ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="max-width: 100%; width: 100px; " alt="">
                </div>
                <div class="kutopsol" >
                    <div class="baslik d-flex mt-2">
                        <h4>R/AskReddit</h4>
                        <button class="rounded-5 border-0">Join</button>
                    </div>
                    <div class="content d-flex mt-2">
                        <i class="fa-solid fa-cake-candles mt-1"></i>
                        <p class="text-secondary ms-2">Created {time}</p>
                    </div>
                    <div class="d-flex">
                        <b>750k</b>
                        <p class="text-secondary ms-2">Members</p>
                    </div>
                    <div class="kufooter d-flex justify-content-end me-1">
                        <div class="boxproku mt-2">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt=""ß>
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="kutu">
            <img src="https://i.pinimg.com/564x/d4/38/11/d43811e378d0a985e76d9d82cca017aa.jpg" style="width: 100%; height: 110px; border-radius: 20px 20px 0px 0px;" alt="">
           
            <div class="kutoplu-body d-flex justify-content-end me-4">
                <div class="kutusag ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="max-width: 100%; width: 100px; " alt="">
                </div>
                <div class="kutopsol" >
                    <div class="baslik d-flex mt-2">
                        <h4>R/AskReddit</h4>
                        <button class="rounded-5 border-0">Join</button>
                    </div>
                    <div class="content d-flex mt-2">
                        <i class="fa-solid fa-cake-candles mt-1"></i>
                        <p class="text-secondary ms-2">Created {time}</p>
                    </div>
                    <div class="d-flex">
                        <b>750k</b>
                        <p class="text-secondary ms-2">Members</p>
                    </div>
                    <div class="kufooter d-flex justify-content-end me-1">
                        <div class="boxproku mt-2">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt=""ß>
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="kutu">
            <img src="https://i.pinimg.com/564x/d4/38/11/d43811e378d0a985e76d9d82cca017aa.jpg" style="width: 100%; height: 110px; border-radius: 20px 20px 0px 0px;" alt="">
           
            <div class="kutoplu-body d-flex justify-content-end me-4">
                <div class="kutusag ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="max-width: 100%; width: 100px; " alt="">
                </div>
                <div class="kutopsol" >
                    <div class="baslik d-flex mt-2">
                        <h4>R/AskReddit</h4>
                        <button class="rounded-5 border-0">Join</button>
                    </div>
                    <div class="content d-flex mt-2">
                        <i class="fa-solid fa-cake-candles mt-1"></i>
                        <p class="text-secondary ms-2">Created {time}</p>
                    </div>
                    <div class="d-flex">
                        <b>750k</b>
                        <p class="text-secondary ms-2">Members</p>
                    </div>
                    <div class="kufooter d-flex justify-content-end me-1">
                        <div class="boxproku mt-2">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt=""ß>
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="kutu">
            <img src="https://i.pinimg.com/564x/d4/38/11/d43811e378d0a985e76d9d82cca017aa.jpg" style="width: 100%; height: 110px; border-radius: 20px 20px 0px 0px;" alt="">
           
            <div class="kutoplu-body d-flex justify-content-end me-4">
                <div class="kutusag ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="max-width: 100%; width: 100px; " alt="">
                </div>
                <div class="kutopsol" >
                    <div class="baslik d-flex mt-2">
                        <h4>R/AskReddit</h4>
                        <button class="rounded-5 border-0">Join</button>
                    </div>
                    <div class="content d-flex mt-2">
                        <i class="fa-solid fa-cake-candles mt-1"></i>
                        <p class="text-secondary ms-2">Created {time}</p>
                    </div>
                    <div class="d-flex">
                        <b>750k</b>
                        <p class="text-secondary ms-2">Members</p>
                    </div>
                    <div class="kufooter d-flex justify-content-end me-1">
                        <div class="boxproku mt-2">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/bb/aa/22/bbaa22c230379f4fc0a0e3a538c80772.jpg" alt=""ß>
                            <img src="https://i.pinimg.com/564x/c7/d5/db/c7d5dbc7716eba0c3f12a36f9d078579.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
       ß
       
    </div>
    
       
        
   
</section>



{% endblock content %}