{% extends "index.html" %}
{% load static  %}

{% block title %}
<title>Topluluklar</title>
{% endblock title %}


{% block content %}
<section style="margin-top: 90px;" class="toplulukcont">
    <div class="kutular">
        <div class="kutu d-flex ">
            <div class="kutopsag ms-2" style="margin-top: 90px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="max-width: 100%; width: 100px; border-radius: 500px;" alt="">
            </div>
            <div class="kutopsol mt-5 ms-3">
                <h4>R/AskReddit</h4>
                <button style="margin-left: 200px; padding: 7px;" class="rounded-5">Join</button>
            </div>
        </div>
        <div class="kutu"></div>
        <div class="kutu"></div>
    </div>
    
       
        
   
</section>



{% endblock content %}